<div class="container">
    <div class="col-sm-12">
        <h1>About ABC Car Fleets</h1>
        <p>
            ABC Car Fleets purchase used cars from different car owners, including individuals and government and private companies. Then they service or repair the cars (if required) and sell to their customers as used cars. They also sell new cars. The car price
            varies depending on mileage, colour, make and model.
        </p>
        <div class="col-sm-6">
            <img src="images/kawasaki-ninja.jpg" alt="" />
        </div>
        <div class="col-sm-6">
            <img src="images/honda-accord.jpg" alt="" />
        </div>

    </div>
</div>
