<div ng-controller="carController">
    <!-- Min and Max Price Selection -->
    <div class="col-sm-12 price-form">
        <div class="row price-form-row" ng-if="!addListing">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">Min Price</span>
                    <select name="minPrice" id="minPrice" ng-model="priceInfo.min" class="form-control">
                          <option value="1000">$1,000</option>
                          <option value="3000">$3,000</option>
                          <option value="5000">$5,000</option>
                          <option value="7500">$7,500</option>
                          <option value="10000">$10,000</option>
                          <option value="12500">$12,500</option>
                          <option value="15000">$15,000</option>
                          <option value="17500">$17,500</option>
                          <option value="20000">$20,000</option>
                          <option value="25000">$25,000</option>
                          <option value="30000">$30,000</option>
                        </select>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">Max Price</span>
                    <select name="maxPrice" id="maxPrice" ng-model="priceInfo.max" class="form-control">
                          <option value="1000">$1,000</option>
                          <option value="3000">$3,000</option>
                          <option value="5000">$5,000</option>
                          <option value="7500">$7,500</option>
                          <option value="10000">$10,000</option>
                          <option value="12500">$12,500</option>
                          <option value="15000">$15,000</option>
                          <option value="17500">$17,500</option>
                          <option value="20000">$20,000</option>
                          <option value="25000">$25,000</option>
                          <option value="30000">$30,000</option>
                        </select>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" ng-click="addListing = !addListing" ng-show="!addListing">Add Car</button>

        <button class="btn btn-danger" ng-click="addListing = !addListing" ng-show="addListing">Close</button>

        <div class="listing-form" ng-if="addListing">

            <h3>Add a Listing</h3>

            <div class="row listing-form-row">
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon">Vehicle Type</span>
                        <select type="select" name="vehicleType" id="vehicleType" class="form-control" ng-model="newListing.type">
                          <option value="Car">Car</option>
                          <option value="Motorbike">Motorbike</option>
                          <option value="Ute">Ute</option>
                          <option value="Van">Van</option>
                          <option value="Other">Other</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon">Manufacturer</span>
                        <input type="text" placeholder="Enter the manufacturer" class="form-control" ng-model="newListing.manufacturer">
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon">Model</span>
                        <input type="text" placeholder="Enter the model" class="form-control" ng-model="newListing.model">
                    </div>
                </div>
            </div>

            <div class="row listing-form-row">

                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon">Price</span>
                        <input type="number" placeholder="Enter the price" class="form-control" ng-model="newListing.price">
                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon">Description</span>
                        <textarea type="text" placeholder="Enter the description" class="form-control" ng-model="newListing.description">
          </textarea>
                    </div>
                </div>
            </div>

            <div class="row listing-form-row">

                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon">KMs</span>
                        <input type="number" placeholder="Enter the odometer reading" class="form-control" ng-model="newListing.kms">
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon">Doors</span>
                        <input type="number" placeholder="How many doors?" class="form-control" ng-model="newListing.doors">
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon">Year</span>
                        <input type="number" placeholder="What year was the vehicle made?" class="form-control" ng-model="newListing.year">
                    </div>
                </div>

            </div>


            <button class="btn btn-primary listing-button" ng-click="addcar(newListing)" ng-show="addListing">Add Car
    </button>
            <pre>{{newListing | json}}</pre>
        </div>

    </div>
    <div class="listing-form" ng-if="editListing">

        <h3>Edit Listing</h3>

        <div class="row listing-form-row">
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon">Vehicle Type</span>
                    <select type="select" name="vehicleType" id="vehicleType" class="form-control" ng-model="existingListing.type">
             <option value="Car">Car</option>
             <option value="Motorbike">Motorbike</option>
             <option value="Ute">Ute</option>
             <option value="Van">Van</option>
             <option value="Other">Other</option>
         </select>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon">Manufacturer</span>
                    <input type="text" placeholder="Enter the manufacturer" class="form-control" ng-model="existingListing.manufacturer">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon">Model</span>
                    <input type="text" placeholder="Enter the model" class="form-control" ng-model="existingListing.model">
                </div>
            </div>
        </div>

        <div class="row listing-form-row">

            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon">Price</span>
                    <input type="number" placeholder="Enter the price" class="form-control" ng-model="existingListing.price">
                </div>
            </div>

            <div class="col-sm-8">
                <div class="input-group">
                    <span class="input-group-addon">Description</span>
                    <textarea type="text" placeholder="Enter the description" class="form-control" ng-model="existingListing.description">
         </textarea>
                </div>
            </div>
        </div>

        <div class="row listing-form-row">

            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon">KMs</span>
                    <input type="number" placeholder="Enter the odometer reading" class="form-control" ng-model="existingListing.details_kms">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon">Doors</span>
                    <input type="number" placeholder="How many doors?" class="form-control" ng-model="existingListing.details_doors">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon">Year</span>
                    <input type="number" placeholder="What year was the vehicle made?" class="form-control" ng-model="existingListing.details_year">
                </div>
            </div>

        </div>

        <button class="btn btn-primary listing-button" ng-click="savecarEdit()" ng-show="editListing">Save
     </button>

        <button class="btn btn-danger listing-button" ng-click="deletecar(existingListing)" ng-show="editListing">Delete
     </button>

    </div>


    <!-- Car Listings -->
    <div class="container">
        <div class="col-sm-4" ng-repeat="car in cars | carsFilter:priceInfo | orderBy: '-id'">
            <div class="thumbnail">
                <img ng-src="images/{{car.image}}.jpg" alt="" height="">
                <div class="caption">
                    <div ng-hide="showDetails === true">
                        <h3><i class="glyphicon glyphicon-tag"></i> {{car.price | currency}}</h3>
                        <h4>{{car.type}}, {{car.manufacturer}}, {{car.model}}</span>
      </h4>

                    </div>

                    <button class="btn btn-xs btn-success" ng-hide="showDetails" ng-click="showDetails = !showDetails">
            Details
    </button>

                    <button class="btn btn-xs btn-success" ng-hide="showDetails" ng-click="contactDealer(currentCar)">
            Contact Dealer
    </button>

                    <button class="btn btn-xs btn-primary" ng-hide="showDetails" ng-click="editcar(car)">Edit
    </button>

                    <button class="btn btn-xs btn-danger" ng-show="showDetails === true" ng-click="showDetails = !showDetails">
            Close
    </button>

                    <div class="details" ng-show="showDetails === true">
                        <h4>
        <span class="label label-primary">KMs: {{car.details_kms}}</span>
        <span class="label label-primary">Doors: {{car.details_doors}}</span>
        <span class="label label-primary">Year: {{car.details_year}}</span>
      </h4>
                        <p>{{car.description}}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
